html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

main {
  margin: auto;
  padding: 0px;
  background-color: whitesmoke;
  max-width: 900px;
  min-height: 100%;
}

section {
  padding: 10px;
}

#context {
  border: 2px solid #eee;
  background-color: white;
  padding: 20px;
}

canvas {
  border: 2px solid #eee;
}

.CodeMirror {
  border: 2px solid #eee;
  height: auto;
}